body {
  font-family: "Single Day", cursive;
  font-weight: 400;
  font-style: normal;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.weather-card {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f5ffdf;
  width: 100%;
}

.left img {
  width: 100px;
  height: 100px;
}

.right {
  margin-left: 20px;
}

.weather-info h2 {
  margin: 0;
  font-size: 26px;
}

.weather-info p {
  margin: 5px 0;
  font-size: 24px;
}

.current-location-card {
  flex: 1;
  margin-right: 20px;
}

.other-locations-container {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.sub-container {
  display: flex;
  justify-content: space-between;
}

.sub-container .weather-card {
  flex: 1;
  margin-right: 10px;
}

.sub-container .weather-card:last-child {
  margin-right: 0;
}
